body {
    font-family: sans-serif;
    margin: 0;
    background-image: url("fondo.png"); /* Make sure the image file is in the same directory as the CSS file */
    background-repeat: no-repeat;
    background-size: cover;
    color: #3C506D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #FDFDF3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 30px;
    flex-direction: row;
  }
  
  .change-password-form {
    width: 350px;
  }
  
  .change-password-form h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #f09300;
  }
  
  .change-password-form h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .input-field {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input-field i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #f59e0b;
    font-size: 1.2rem;
  }
  
  .input-field input {
    width: 90%;
    padding: 15px 20px;
    border: none;
    background: #FBBF1D;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
  }
  
  .input-field input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .change-password-form button {
    width: 100%;
    padding: 15px 0;
    border: none;
    background-color: #3C506D;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .change-password-form button:hover {
    background-color: #f09300;
  }